$phone-screen: 600px;
$md-screen:768px;
$lg-screen: 992px;
$laptop-screen: 1200px;
$hover-color: #FFB319;
$bg-color:#3e4491;

.content {
  font-size: 0.8rem;
  font-weight: 400;
  &_title {
    font-weight: 600;
  }
}

@media screen and (max-width: $md-screen) and (min-width: $phone-screen) {
  .content {
    font-size: 1.1rem;
    align-items: center;
    
  }
}

@media screen and (min-width: $md-screen) {
  .content {
    font-size: 1.2rem;
    align-items: center;
    
  }
}