$phone-screen: 600px;
$tablet-screen:768px;
$laptop-screen: 1200px;
$hover-color: #FFB319;
$bg-color:#3e4491;

.content {
  font-size: 0.8rem;
  font-weight: 400;
  &_title {
    font-weight: 600;
  }
}
