$phone-screen: 600px;
$phone-screen-2: 601px;
$md-screen: 768px;
$md-screen-2: 769px;
$lg-screen: 992px;
$laptop-screen: 1200px;
$hover-color: #ffb319;
$bg-color: #3e4491;

.content {
  font-size: 0.8rem;
  font-weight: 400;
  &_title {
    font-weight: 600;
  }
}

@media screen and (max-width: $md-screen) and (min-width: $phone-screen-2) {
  .content {
    font-size: 1.1rem;
    align-items: center;
  }
}

@media screen and (min-width: $md-screen-2) {
  .content {
    font-size: 1.2rem;
    align-items: center;
  }
}
