$white: #ffffff;
$black: #000000;

.input-pagination {
  color: $white;
  border-radius: 5px;
  min-width: 250px;
  display: flex;
  justify-content: end;
  .icon {
    height: 100%;
    align-items: center;
    & > * {
      font-size: 1rem;
      cursor: pointer;
    }
  }
  .input-text {
    font-size: 1rem;
    font-weight: 600;
    margin:0 10px;
  }
  input {
    border-radius: 5px;
    width: 20%;
    text-align: center;
    border: none;
    align-items: center;
    height: 100%;
  }
}
