$white: #ffffff;
$black: #000000;

.input-pagination {
  // background-color: rgba($color: ($white), $alpha: .8);
  color: $white;
  border-radius: 5px;
  width: 250px;
  display: flex;
  justify-content: space-around;
  .icon {
    height: 100%;
    align-items: center;
    & > * {
      font-size: 1rem;
      cursor: pointer;
    }
  }
  .text {
    font-size: 1rem;
    font-weight: 600;
    margin:0 auto;
  }
  input{
    border-radius: 5px;
    width: 20%;
    text-align: center;
    border: none;
  }
}