$phone-screen: 600px;
$md-screen:768px;
$lg-screen: 992px;
$laptop-screen: 1200px;
$phone-screen-2: 601px;
$md-screen-2:769px;
$lg-screen-2: 993px;
$laptop-screen-2: 1201px;
$icon-color: #ffffff;
$bg-color: #F5A200;

.MuiPopover-paper{
  min-height: 200px;
  width: 250px;
  text-align: center;
  padding: 10px;
}
.advanced {
  text-decoration: underline;
  font-size: 0.8rem;
  cursor: pointer;
  padding-bottom: 5px;
}
.filter_search {
  &:hover {
    background-color: $bg-color;
  }
}
.main {
  padding: 0 20px;
  font-size: 14px;
  width: 100%;
  height: 100%;
  &_type {
    padding-top:20px;
    width: 100%;
  }
  &_result {
    color: $icon-color;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 10px 0;
    &__icon{
      cursor: pointer;
    }
  }
  &_movies {
    position:relative;
    width: 100%;
    height: 100%;
    &__list {
      z-index: 2;
      width: 100%;
    }
    &__details {
      min-height: 100%;
      align-items: center;
      margin: auto;
    }
  }
  &_noResult {
    color: $icon-color;
    text-align: center;
    font-size: 1.5rem;
  }
  &_emptySearch {

  }
}

@media screen and (max-width: $phone-screen) {
  .main {
    &_movies{
      &__list{
      }
      &__details {
        // display: none;
      }
    }
  }
}
@media screen and (max-width: $md-screen) and (min-width: $phone-screen-2) {
  .main {
    &_movies{
      &__list{
      }
      &__details {
        // display: none;
      }

    }
  }
}

@media screen and (min-width: $md-screen) {
  
}