$bg-color:#3e4491;
$sb-bg-color:#1a1b4b;
$sb-fill-color: #3a9efd;
$phone-screen: 600px;
$md-screen:768px;
$lg-screen: 992px;
$laptop-screen: 1200px;

.modal-box {
  position: fixed;
  background-color: #000;
  width: 70%;
  height: 550px;
  z-index: 100;
  font-size: large;
  margin:20px auto 0 auto;
  top:100px;
  left: 0; 
  bottom: 0; 
  right: 0;
  border: solid 1px $bg-color;
  border-radius: 10px;
  overflow-y: scroll;
}

.modal-box::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

.modal-box::-webkit-scrollbar-track {
  background: $sb-bg-color;        /* color of the tracking area */
}

.modal-box::-webkit-scrollbar-thumb {
  background-color: $sb-fill-color;    /* color of the scroll thumb */
  border-radius: 30px;       /* roundness of the scroll thumb */
  border: 3px solid $sb-bg-color;  /* creates padding around scroll thumb */
}

@media screen and (max-width: $phone-screen) {
  .modal-box {
    width: 100%;
    background-color: transparent;
  }
}

@media screen and (min-width: $phone-screen) and (max-width: $md-screen){
  .modal-box {
    width: 85%;
  }
}

@media screen and (min-width: $md-screen) and (max-width: $lg-screen){
  .modal-box {
    width: 85%;
    left: 2%;
  }
}

@media screen and (min-width: $lg-screen) and (max-width: $laptop-screen){
  .modal-box {
    
  }
}

@media screen and (min-width: $laptop-screen) {
  .modal-box {
  }
}