$sb-bg-color: #1a1b4b;
$sb-fill-color: #3a9efd;
$phone-screen: 600px;
$phone-screen-2: 601px;
$md-screen: 768px;
$md-screen-2: 769px;
$lg-screen: 992px;
$lg-screen-2: 993px;
$laptop-screen: 1200px;
$laptop-screen-2: 1201px;

.movieList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 0.6rem;
  height: 100%;
  overflow: hidden scroll;
  grid-gap: 20px;
  min-width: 360px;
  padding-left: 10px;
}
.movieList::-webkit-scrollbar {
  width: 15px; /* width of the entire scrollbar */
}

.movieList::-webkit-scrollbar-track {
  background: $sb-bg-color; /* color of the tracking area */
}

.movieList::-webkit-scrollbar-thumb {
  background-color: $sb-fill-color; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid $sb-bg-color; /* creates padding around scroll thumb */
}

@media screen and (max-width: $phone-screen) {
  .movieList {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: $phone-screen-2) and (max-width: $md-screen) {
  .movieList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: $lg-screen) and (min-width: $md-screen-2) {
  .movieList {
    grid-template-columns: repeat(3, 2fr);
  }
}

@media screen and (max-width: $laptop-screen) and (min-width: $lg-screen-2) {
  .movieList {
    grid-template-columns: repeat(4, 2fr);
  }
}
