@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

$phone-screen: 600px;
$tablet-screen:768px;
$laptop-screen: 1200px;
$hover-color: #FFB319;
$bg-color:#3e4491;
$title-color: #ffffff;
$font-stack-content: 'Montserrat', helvetica, arial, sans-serif;
$font-stack-header: 'Montserrat', helvetica, arial, sans-serif;
$secondary-color: #F5A200;

.movie-card {
	width:100%;
  height: 375px;
  margin-bottom: 5px;
  &_left {
    width:40%;
    height:100%;
    float:left;
    overflow:hidden;
    background:#000;
    border-radius: 10px 0 0 10px;
    img {
      width:100%;
      height:100%;
      border-radius:10px 0 0 10px;
      -webkit-border-radius:10px 0 0 10px;
      -moz-border-radius:10px 0 0 10px;
      position:relative;
      object-fit: fill;
    }
  }
  &_phone{
    display: none;
  }
  &_right {
    width:60%;
    float:left;
    background:$bg-color;
    height:100%;
    border-radius:0 10px 10px 0;
    -webkit-border-radius:0 10px 10px 0;
    -moz-border-radius:0 10px 10px 0;
    padding:10px 20px 0 20px;
    text-align: center;
    text-transform: uppercase;
    color: $title-color;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 1);
    &:hover {
      background: $hover-color;
      color:$bg-color;
      font-weight: 500;
      cursor: pointer;
    }  
    &.active{
      background: $secondary-color;
      color:$bg-color;
      font-weight: 600;
      height: auto;
    }  
    &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    text-align:left;
    font-size: 1.5em;
    margin:30px 0 10px 0;
    letter-spacing:1px;
      :hover > & {
        font-weight:500
      }
      .active > &{
        font-weight:500
      }
    }
    &__info {
      font-size: 1.3em;
      background: $secondary-color;
      width: 30%;
      max-width: 50px ;
      border-radius: 10px;
      :hover > & {
          background: $bg-color;
          color: $hover-color;
          border: none;
      }
      .active > &{
          background:  $bg-color;
          color: $secondary-color;
          border: none;
      }
    }
  }
}

@media screen and (max-width: $phone-screen) {
  .movie-card{
    height: 350px;
    display: block;
    box-sizing: border-box;
    // height: 100%;
    &_left{
      display: none;
    }
    &_right{
      width: 100%;
      border-radius: 10px;
      display: grid;
      grid-template-rows: 130px 20px 190px;
      &.active{
        height: 100%;
      } 
      &__title {
        font-size: 1.8rem;
      }
      &__info {
        background-color: transparent;
        border: 1px solid $title-color;
      }
      &:hover {
      }
      &__phone {
        display: block;
        margin-top: 10px;
      }
      &__button {
        width: 140px;
        height: 60px;
        background-color: $hover-color;
        border-radius: 30px;
        color: $title-color;
        font-size: 1.1rem;
        margin-top: 8%;
        :hover > & {
          background-color: $bg-color;
        }
      }
    } 
  }
}

@media screen and (max-width: $tablet-screen) and (min-width: $phone-screen) {
  .movie-card{
    height: 250px;
    width: 95%;
    position: relative;
    &_left {
      position: absolute;
      width: 100%;
      height: 100%;
      img{
        object-fit: fill;
        opacity: 0.7;
        border-radius: 10px;
      }
    }
    &_right {
      position: absolute;
      width: 100%;
      background-color: rgba(0,0,0,0.6);
      font-size: 0.9rem;
      border-radius: 10px;
      &:hover {
        background: rgba(0,0,0,0.5);
        color: $title-color;
        font-weight: 500;
        cursor: pointer;
      }  
      &.active{
        background: rgba(0,0,0,0.4);
        color:$title-color;
        font-weight: 600;
        height: 100%;
      } 
      &__title {
        text-align: center;
        font-weight: 500;
        height: 90px;
        :hover > & {
          font-weight: 700;
        }
      }
      &__info{
        width: 100%;
        margin:auto;
        background-color: transparent;
        font-size: 1.4rem;
        color: $hover-color;
        :hover > & ,
        .active > &{
          // color: $title-color;
          background: transparent;
          font-weight: 600;
        }
      }
      &__phone {
        display: none;
      }
      &__button {
        width: 140px;
        height: 40px;
        background-color: $hover-color;
        border-radius: 30px;
        color: $title-color;
        font-size: 1.1rem;
        margin-top: 8%;
        :hover > & {
          background-color: $bg-color;
        }
      }
    }
  }
}