
$sb-bg-color:#1a1b4b;
$sb-fill-color: #3a9efd;
.movieList {
  font-size: 0.6rem;
  height: 100%;
  overflow: hidden scroll;
  min-width: 360px;
}
.movieList::-webkit-scrollbar {
  width: 15px;               /* width of the entire scrollbar */
}

.movieList::-webkit-scrollbar-track {
  background: $sb-bg-color;        /* color of the tracking area */
}

.movieList::-webkit-scrollbar-thumb {
  background-color: $sb-fill-color;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid $sb-bg-color;  /* creates padding around scroll thumb */
}