$phone-screen: 600px;
$md-screen: 768px;
$lg-screen: 992px;
$laptop-screen: 1200px;
$icon-color: #ffffff;
$bg-color: #3e4491;

.nav-bar {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  min-height: 55px;
  justify-content: space-between;
  background-color: $bg-color;
  z-index: 100;
  position: fixed;
  align-items: center;
  &_search {
    min-width: 25%;
  }
  &_menu {
    color: $icon-color;
    cursor: pointer;
  }
}
