$phone-screen: 600px;
$md-screen: 768px;
$lg-screen: 992px;
$laptop-screen: 1200px;
$icon-color: #ffffff;
$bg-color: #023e8a;

.MuiPopover-paper {
  width: 250px;
  text-align: center;
  padding: 10px;
}

.nav-bar {
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  min-height: 55px;
  justify-content: space-between;
  background-color: $bg-color;
  z-index: 100;
  position: fixed;
  align-items: center;
  &_search {
    min-width: 25%;
  }
  &_menu {
    color: $icon-color;
    cursor: pointer;
    position: relative;
    &__item {
      text-align: justify;
      border-bottom:1px $bg-color solid;
      cursor: pointer;
      &.disabled{
        color: grey;
        cursor: not-allowed;
      }
    }
  }
  &_icon {
    margin-right: 10px;
  }
}