$white: #ffffff;
$bg-color: #F5A200;

.pagination {
  justify-content: center;
  & li > *  {
    color: $white;
    button {
      .selected {
        background-color: #F5A200;
      }
    }
  }
  
}