
$phone-screen: 600px;
$md-screen:768px;
$lg-screen: 992px;
$laptop-screen: 1200px; 
$phone-screen-2: 601px;
$md-screen-2:769px;
$lg-screen-2: 993px;
$laptop-screen-2: 1201px;
$title-color: #FFB319;

.score-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: $title-color;
  text-align: center;
  width: 80%;
  margin: 10px auto;
  padding-bottom: 5px;
  border-bottom: 4px solid $title-color;
}
.score-list {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content:center;
  padding-bottom: 15px;
}

@media screen and (max-width: $phone-screen) {
  .score-list {
    display: none;
  } 
}

@media screen and (min-width: $phone-screen-2) and (max-width: $md-screen) {
  .score-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    justify-content: center;
  } 
}

@media screen and (min-width: $md-screen-2) and (max-width: $lg-screen) {
  .score-title {
    width: 94%;
    margin-top: 0;
  }
}

@media screen and (min-width: $lg-screen-2) and (max-width: $laptop-screen) {
  .score-title {
    width: 90%;
    margin-bottom: 15px;
  }

}

@media screen and (min-width: $laptop-screen-2) {
  .score-title {
    width: 90%;
  }
}


