$text-color: #ffffff;
$border-color: #3a9efd;
$phone-screen: 600px;
$md-screen:768px;
$lg-screen: 992px;
$laptop-screen: 1200px; 
$phone-screen-2: 601px;
$md-screen-2:769px;
$lg-screen-2: 993px;
$laptop-screen-2: 1201px; 


.score-box {
  display: flex;
  color: $text-color;
  flex-direction: column;
  text-align: center;
  border-right: 3px solid $border-color;
  justify-content: center;
  &.no_border {
    border: none;
  }
  & > *{
    font-weight: 700;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: $phone-screen-2) and (max-width: $md-screen) {
  .score-box {
    width: 200px;
    border-right: none;
    border-bottom:2px solid #3a9efd;
    margin: 0 auto;
  }
}