$hover-color: #FFB319;
$phone-screen: 600px;
$md-screen:768px;
$lg-screen: 992px;
$laptop-screen: 1200px;
$phone-screen-hover-color: #3e4491;

.tab {
  font-size: 0.8rem;
  width: 100px;
  text-align: center;
  box-sizing: border-box;
  height: 30px;
  text-transform: uppercase;
  padding-top: 5px;
  background-size: 0%;
  &.active {
    border-bottom: solid 2px $hover-color;
  }
  &:hover{
    border-bottom: solid 1px $hover-color;
    cursor: pointer;
  }
  
}

@media screen and (max-width: $phone-screen) {
  .tab {
    &.active {
      border-bottom: solid 1px $phone-screen-hover-color;
    }

    &:hover{
      border-bottom: solid 1px $phone-screen-hover-color;
    }
  }

}

@media screen and (max-width: $md-screen) and (min-width: $phone-screen){
  .tab {
    font-size: 1rem;
  }
}

@media screen and (min-width: $md-screen){
  .tab {
    font-size: 1rem;
  }
}