$border-color: #d8b56f;
$hover-color: #f5a200;
$hover-text-color: #3e4491;

.type {
  color: white;
  border-radius: 15px;
  width: 60px;
  border: 1px solid $border-color;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  &:hover,
  &.active {
    background-color: $hover-color;
    color: $hover-text-color;
  }
}
