$text-color: #ffffff;
$phone-screen: 600px;
$md-screen:768px;
$lg-screen: 992px;
$laptop-screen: 1200px;
$phone-screen-2: 601px;
$md-screen-2:769px;
$lg-screen-2: 993px;
$laptop-screen-2: 1201px;

.slider,
.text {
  color: $text-color;
}

.slider {
  padding-top: 5px;
  &_start{
    margin-right: 5px;
  }
  &_end {
    margin-left:  5px;
  }
}

.alter {
  width: 100px;
  text-align: center;
  padding-top: 2px;
  input{
    width: 80%;
    border-radius: 6px;
    text-align: center;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.text {
  text-align: center;
}

@media screen and (max-width: $lg-screen) {
  .text {
      display: inline-block;
      padding-right: 10px
    }
  .slider{
    display: none;
  }
  .alter {
    display: none;
  }
  .menu {
    display: inline-block;
    width: auto;
  }
}

@media screen and (min-width: $lg-screen) {
  .alter{
    display: none;
  }
}
