$text-color: #ffffff;
$phone-screen: 600px;
$md-screen:768px;
$lg-screen: 992px;
$laptop-screen: 1200px;
$phone-screen-2: 601px;
$md-screen-2:769px;
$lg-screen-2: 993px;
$laptop-screen-2: 1201px;

.text {
  color: $text-color;
}

.alter {
  width: auto;
  text-align: center;
  padding-top: 2px;
  margin: 0 auto;
  input{
    width: 100%;
    border-radius: 6px;
    // text-align: center;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.text {
  text-align: center;
  a {
    cursor: default;
  }
}

@media screen and (max-width: $lg-screen) {
  .text {
      display: inline-block;
      padding-right: 10px
    }
  .alter {
    // display: none;
  }
  .menu {
    display: inline-block;
    width: auto;
  }
}

@media screen and (min-width: $lg-screen) {
  .alter{
    // display: none;
   position: relative;
    input {
      font-size: 1rem;
    }
    &_icon{
      position: absolute;
      right: 5px;
      top:7px;
      cursor: pointer;
    }
  }
}
